<template>
  <q-page class="q-layout-padding">
    <div v-if="$store.state.stores.length">
      <div class="row q-col-gutter-md">
        <div v-for="(store, index) in $store.state.stores" :key="index" class="col-12 col-md-3">
          <q-card @click="openDialog(store)" class="full-height q-pa-md cursor-pointer">{{ store.name }}</q-card>
        </div>
      </div>
    </div>
    <div v-else class="q-pa-md flex flex-center">
      <q-circular-progress
        indeterminate
        size="50px"
        color="blue"
        class="q-ma-md"
      />
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'
import StoreInfo from 'components/StoreInfo'

export default defineComponent({
  name: 'PageIndex',
  data () {
    return {
      isLoading: true
    }
  },
  methods: {
    openDialog (store) {
      this.$q.dialog({
        component: StoreInfo,
        componentProps: {
          city: store.city,
          name: store.name,
          postCode: store.postCode,
          state: store.state,
          storeEmail: store.storeEmail,
          storePhone: store.storePhone,
          storeType: store.storeType,
          address: store.address
        }
      })
    }
  },
  created () {
    this.$store.dispatch('getStores')
  }
})
</script>
