<template>
  <!-- notice dialogRef here -->
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card class="q-dialog-plugin q-pa-lg">
      <p class="text-h6">{{ name }}</p>
      <p class="no-margin" v-if="city"><b>City:</b> {{ city }}</p>
      <p class="no-margin" v-if="postCode"><b>PostCode:</b> {{ postCode }}</p>
      <p class="no-margin" v-if="state"><b>State:</b> {{ state }}</p>
      <p class="no-margin" v-if="storeEmail"><b>Store email:</b> {{ storeEmail }}</p>
      <p class="no-margin" v-if="storePhone"><b>Store phone:</b> {{ storePhone }}</p>
      <p class="no-margin" v-if="storeType"><b>Store type:</b> {{ storeType }}</p>
      <p class="no-margin" v-if="address"><b>Address:</b> {{ address }}</p>
    </q-card>
  </q-dialog>
</template>

<script>
import { useDialogPluginComponent } from 'quasar'

export default {
  props: {
    city: {
      type: String
    },
    postCode: {
      type: String
    },
    state: {
      type: String
    },
    storeEmail: {
      type: String
    },
    storePhone: {
      type: String
    },
    storeType: {
      type: String
    },
    address: {
      type: String
    },
    name: {
      type: String
    }
  },
  name: 'StoreInfo',

  emits: [
    // REQUIRED; need to specify some events that your
    // component will emit through useDialogPluginComponent()
    ...useDialogPluginComponent.emits
  ],

  setup () {
    // REQUIRED; must be called inside of setup()
    const {
      dialogRef,
      onDialogHide,
      onDialogOK,
      onDialogCancel
    } = useDialogPluginComponent()
    // dialogRef      - Vue ref to be applied to QDialog
    // onDialogHide   - Function to be used as handler for @hide on QDialog
    // onDialogOK     - Function to call to settle dialog with "ok" outcome
    //                    example: onDialogOK() - no payload
    //                    example: onDialogOK({ /*.../* }) - with payload
    // onDialogCancel - Function to call to settle dialog with "cancel" outcome

    return {
      // This is REQUIRED;
      // Need to inject these (from useDialogPluginComponent() call)
      // into the vue scope for the vue html template
      dialogRef,
      onDialogHide,

      // other methods that we used in our vue html template;
      // these are part of our example (so not required)
      onOKClick () {
        // on OK, it is REQUIRED to
        // call onDialogOK (with optional payload)
        onDialogOK()
        // or with payload: onDialogOK({ ... })
        // ...and it will also hide the dialog automatically
      },

      // we can passthrough onDialogCancel directly
      onCancelClick: onDialogCancel
    }
  }
}
</script>
